farts/nodeRed/flows.json
[{"id":"ea408d60.640f","type":"mqtt in","z":"1e6252c0.b12cbd","name":"ESP32 Temp","topic":"/esp32/temp","qos":"2","datatype":"auto","broker":"897fccab.2b6d7","x":140,"y":780,"wires":[["46fba752.e59818","6d17a052.56fe1"]]},{"id":"46fba752.e59818","type":"debug","z":"1e6252c0.b12cbd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":780,"wires":[]},{"id":"f303744b.3c7c08","type":"mqtt in","z":"1e6252c0.b12cbd","name":"ESP32 Humi","topic":"/esp32/humi","qos":"2","datatype":"auto","broker":"897fccab.2b6d7","x":150,"y":840,"wires":[["383c6bb0.1df214"]]},{"id":"383c6bb0.1df214","type":"debug","z":"1e6252c0.b12cbd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":840,"wires":[]},{"id":"6d17a052.56fe1","type":"ui_text","z":"1e6252c0.b12cbd","group":"1871a07e.659f2","order":1,"width":0,"height":0,"name":"","label":"Temp","format":"{{msg.payload}} °C","layout":"row-spread","x":350,"y":740,"wires":[]},{"id":"897fccab.2b6d7","type":"mqtt-broker","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"Connection Established","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"Connection lost...","willQos":"0","willPayload":""},{"id":"1871a07e.659f2","type":"ui_group","name":"Licht","tab":"351dee97.3681c2","order":1,"disp":false,"width":"6","collapse":false},{"id":"351dee97.3681c2","type":"ui_tab","name":"Licht","icon":"dashboard","order":1,"disabled":false,"hidden":false}]